<%- include("../layouts/header.ejs") -%>
<div class="my-10 px-4 sm:px-6 lg:px-8">
  <%- include("../modal_components/_tech_nav.ejs", {selected: "hotwire_w_js"}) %>

  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8"
           data-controller="labeler"
           data-labeler-selector-value=".modal-dialog"
           data-labeler-label-class="modal-open"
      >
        <script>
          function openModal() {
            const turboFrame = document.querySelector("turbo-frame#modal")
            turboFrame.innerHTML = '<div>Loading... </div>'
            const modal = document.querySelector(".modal-dialog")
            modal.classList.add("modal-open")
          }

          function openModalCSSLoader() {
            const modal = document.querySelector(".modal-dialog")
            modal.classList.add("modal-open")
          }

          function closeModal() {
            const modal = document.querySelector(".modal-dialog")
            modal.classList.remove("modal-open")
          }
        </script>
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
          <tr class="divide-x divide-gray-200">
            <th scope="col" class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-gray-900 sm:pl-0">
              Name
            </th>
            <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900">Title</th>
            <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900">Email</th>
            <th scope="col" class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-gray-900 sm:pr-0">
              Role
            </th>
          </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
          <% users.forEach((user) => { %>
            <tr class="divide-x divide-gray-200">
              <td class="whitespace-nowrap py-4 pl-4 pr-4 text-sm font-medium text-gray-900 sm:pl-0">
                <a href="/api/hotwire/modal_w_js/modal?id=<%= user.id %>"
                   data-turbo-frame="modal"
                   onclick="openModal()"
                   class="text-orange-600 underline inline-block active:scale-105">
                  <%= user.name %>
                </a>(Inline JS)<br>
                <a href="/api/hotwire/modal_w_js/modal?id=<%= user.id %>"
                   data-turbo-frame="modal"
                   onclick="openModalCSSLoader()"
                   class="text-orange-600 underline inline-block active:scale-105">
                  <%= user.name %>
                </a>(CSS loader)<br>
                <a href="/api/hotwire/modal_w_js/modal?id=<%= user.id %>"
                   data-turbo-frame="modal"
                   data-action="click->labeler#add"
                   class="text-orange-600 underline inline-block active:scale-105">
                  <%= user.name %>
                </a>(Stimulus)
              </td>
              <td class="whitespace-nowrap p-4 text-sm text-gray-500">
                <%= user.title %>
              </td>
              <td class="whitespace-nowrap p-4 text-sm text-gray-500">
                <%= user.email %>
              </td>
              <td class="whitespace-nowrap py-4 pl-4 pr-4 text-sm text-gray-500 sm:pr-0">
                <%= user.role %>
              </td>
            </tr>
          <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal-dialog relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="modal-backdrop fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

    <div class="modal-panel fixed inset-0 z-10 w-screen overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <div class="relative z-10"
             aria-labelledby="modal-title"
             role="dialog"
             aria-modal="true"
             data-controller="labeler"
             data-labeler-selector-value=".modal-dialog"
             data-labeler-label-class="modal-open"
        >
          <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-sm sm:p-6">
            <div class="flex justify-end mb-4 border-b border-gray-200">
              <div></div>
              <button class="p-1 text-sm w-auto hover:cursor-pointer translate-x-2 active:scale-125"
                      onclick="closeModal()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                     class="mx-auto size-6 text-orange-600">
                  <path fill-rule="evenodd"
                        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z"
                        clip-rule="evenodd"/>
                </svg>
                (Inline JS)
              </button>
              <button class="p-1 text-sm w-auto hover:cursor-pointer translate-x-2 active:scale-125"
                      data-action="click->labeler#remove keydown.esc@window->labeler#remove">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                     class="mx-auto size-6 text-orange-600">
                  <path fill-rule="evenodd"
                        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z"
                        clip-rule="evenodd"/>
                </svg>
                (Stimulus)
              </button>
            </div>
            <div class="!min-w-64 !min-h-40 mt-5 sm:mt-6">
              <turbo-frame id="modal" class="turbo-with-loader no-delay" data-turbo-action="advance">
                <div class="turbo-hide-on-loading ">
                  Loading...
                </div>
              </turbo-frame>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<%- include("../layouts/footer.ejs") -%>
