<%- include("../layouts/header.ejs") -%>
<div class="bg-white">
  <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center"><h2
              class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">タブで区切ったUI</h2>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="/api/hotwire/tabbed_segments_no_js"
           class="rounded-md bg-orange-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-orange-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600">Javascriptなし</a>
        <a href="/api/hotwire/tabbed_segments_turboframes"
           class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-orange-600 shadow-sm hover:bg-orange-500 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600">TurboFrames</a>
        <a class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-orange-600 shadow-sm hover:bg-orange-500 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600"
           href="/tabbed_segments">Next.js (useEffect)</a></div>
      <div class="mt-10">
        <div class="mb-2">
          <label for="search" class="text-sm mr-2">Search</label>
          <input id="search"
                 type="text"
                 class="border rounded p-1">
        </div>
        <div class="border-b border-gray-200">
          <nav aria-label="Tabs" class="-mb-px flex space-x-8">
            <a href="/api/hotwire/tabbed_segments_no_js/"
               class="border-orange-500 text-orange-600 whitespace-nowrap border-b-2 px-1 py-4 text-sm font-medium hover:cursor-pointer"
               data-turbo="false"
            >
              Users
            </a>
            <a href="/api/hotwire/tabbed_segments_no_js/products"
               class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 px-1 py-4 text-sm font-medium hover:cursor-pointer"
               data-turbo="false"
            >
              Products
            </a>
          </nav>
        </div>
        <div class="my-10 px-4 sm:px-6 lg:px-8">
          <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto"><h1 class="text-base font-semibold leading-6 text-gray-900">
                Users</h1></div>
          </div>
          <div class="mt-8 flow-root">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <table class="min-w-full divide-y divide-gray-300">
                  <thead>
                  <tr class="divide-x divide-gray-200">
                    <th scope="col"
                        class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-gray-900 sm:pl-0">
                      Name
                    </th>
                    <th scope="col"
                        class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900">Title
                    </th>
                    <th scope="col"
                        class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900">Email
                    </th>
                    <th scope="col"
                        class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-gray-900 sm:pr-0">
                      Role
                    </th>
                  </tr>
                  </thead>
                  <tbody class="divide-y divide-gray-200 bg-white">
                  <% users.forEach((user) => { %>
                  <tr class="divide-x divide-gray-200">
                    <td class="whitespace-nowrap py-4 pl-4 pr-4 text-sm font-medium text-gray-900 sm:pl-0">
                      <%= user.name%>
                    </td>
                    <td class="whitespace-nowrap p-4 text-sm text-gray-500">
                      <%= user.title %>
                    </td>
                    <td class="whitespace-nowrap p-4 text-sm text-gray-500">
                      <%= user.email %>
                    </td>
                    <td class="whitespace-nowrap py-4 pl-4 pr-4 text-sm text-gray-500 sm:pr-0">
                      <%= user.role%>
                    </td>
                  </tr>
                  <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("../layouts/footer.ejs") -%>
