<%- include("../layouts/header_morph.ejs") -%>
<div class="my-10 px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="demo-h1">複数箇所更 (ショッピングカート)</h1>
      <%- include("../cart_streams/_tech_nav", {selected: "morph"}) %>
      <div class="flex justify-between">
        <h2 class="demo-h2">Products</h2>
        <div class="flex">
          <form method="post" action="/api/hotwire/cart_morph/reset">
            <button type="submit" class="p-1 mr-4 border rounded border-orange-600 text-orange-600">Clear Cart
            </button>
          </form>
          <div id="cart_icon">
            <%- include("_cart_icon.ejs", {cart}) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
          <tr class="divide-x divide-gray-200">
            <th scope="col" class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-gray-900 sm:pl-0">
              Name
            </th>
            <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900">Catalog Number</th>
            <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900">Price</th>
            <th scope="col" class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-gray-900 sm:pr-0">
              Availability
            </th>
            <th scope="col" class="w-36 py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-gray-900 sm:pr-0">
              Cart
            </th>
          </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
          <% products.forEach((product) => { %>
            <tr class="divide-x divide-gray-200">
              <td class="whitespace-nowrap py-4 pl-4 pr-4 text-sm font-medium text-gray-900 sm:pl-0">
                <%= product.name %>
              </td>
              <td class="whitespace-nowrap p-4 text-sm text-gray-500">
                <%= product.catalogNumber %>
              </td>
              <td class="whitespace-nowrap p-4 text-sm text-gray-500">
                <%= product.price %>
              </td>
              <td class="whitespace-nowrap py-4 pl-4 pr-4 text-sm text-gray-500 sm:pr-0">
                <%= product.availability %>
              </td>
              <td id="<%= `product_${product.id}` %>"
                  class="text-center whitespace-nowrap py-4 pl-4 pr-4 text-sm text-gray-500 sm:pr-0">
                <%- cart[product.id.toString()]
                    ? include("_added_badge.ejs")
                    : include("_product_add_button", {product}) -%>
              </td>
            </tr>
          <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%- include("../layouts/footer.ejs") -%>
