<%- include("../layouts/header.ejs") -%>
<div class="my-10 px-4 sm:px-6 lg:px-8">
  <%- include("../_transition_tech_nav", {selected: "turbo_drive"}) %>
  <hr class="my-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="demo-h1">Turbo Drive画面遷移</h1>
      <h2 class="demo-h2">Users</h2>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
          <tr class="divide-x divide-gray-200">
            <th scope="col" class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-gray-900 sm:pl-0">
              Name
            </th>
            <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900">Title</th>
            <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900">Email</th>
            <th scope="col" class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-gray-900 sm:pr-0">
              Role
            </th>
          </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
          <% users.forEach((user) => { %>
            <tr class="divide-x divide-gray-200">
              <td class="whitespace-nowrap py-4 pl-4 pr-4 text-sm font-medium text-gray-900 sm:pl-0">
                <%= user.name %>
              </td>
              <td class="whitespace-nowrap p-4 text-sm text-gray-500">
                <%= user.title %>
              </td>
              <td class="whitespace-nowrap p-4 text-sm text-gray-500">
                <%= user.email %>
              </td>
              <td class="whitespace-nowrap py-4 pl-4 pr-4 text-sm text-gray-500 sm:pr-0">
                <%= user.role %>
              </td>
            </tr>
          <% }) %>
          </tbody>
        </table>
        <div class="my-10 flex items-center justify-center gap-x-6">
          <a href="/api/hotwire/page_drive/products"
             class="btn-primary">Productsへ推移 (Turbo On)</a>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("../layouts/footer.ejs") -%>
