<%- include("../layouts/header.ejs") -%>
<div class="bg-white">
  <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center"><h1
              class="demo-h1">タブメニューUI</h1>
      <%- include("../tabbed_segments_no_js/_technology_tabs.ejs", {selected: "turbo_drive"}) -%>
      <div class="mt-10">
        <%- include("_search.ejs") -%>
        <div class="border-b border-gray-200">
          <%- include("_tabs", {selected: 1}) %>
        </div>
        <div class="my-10 px-4 sm:px-6 lg:px-8">
          <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
              <%= new Date().toLocaleTimeString() %>
              <h1 class="text-base font-semibold leading-6 text-gray-900">Products</h1>
            </div>
          </div>
          <div class="mt-8 flow-root">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <table class="min-w-full divide-y divide-gray-300">
                  <thead>
                  <tr class="divide-x divide-gray-200">
                    <th scope="col" class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-gray-900 sm:pl-0">
                      Name
                    </th>
                    <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900">Catalog #</th>
                    <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-gray-900">Price</th>
                    <th scope="col" class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-gray-900 sm:pr-0">
                      Availibility
                    </th>
                  </tr>
                  </thead>
                  <tbody class="divide-y divide-gray-200 bg-white">
                  <%  products.forEach((product) => { %>
                  <tr class="divide-x divide-gray-200">
                    <td class="whitespace-nowrap py-4 pl-4 pr-4 text-sm font-medium text-gray-900 sm:pl-0">Chili
                      <%= product.name %>
                    </td>
                    <td class="whitespace-nowrap p-4 text-sm text-gray-500">
                      <%= product.catalogNumber %>
                    </td>
                    <td class="whitespace-nowrap p-4 text-sm text-gray-500">
                      <%= product.price %>
                    </td>
                    <td class="whitespace-nowrap py-4 pl-4 pr-4 text-sm text-gray-500 sm:pr-0">
                      <%= product.availability %>
                    </td>
                  </tr>
                  <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("../layouts/footer.ejs") -%>
